* {
  box-sizing: border-box;
}

body {

}

a, a:visited { 
  text-decoration: none;
  color: black;
}



h1 {
  color: red;
}

img {
  max-width: 500px;
  
}

header {
  background-color: #0891B2;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.about {
  background-color: #FFFFFF;
  font-size: 1.2rem;
  padding: 2rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 30px;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

main img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  flex: 1 1 15rem;
}

.card-info {
  padding: 1rem;
  
}

.card-title {
  display: flex;
}

.project-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

footer {
  background-color: #0891B2;
  color: #FFFFFF;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

footer .wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

footer .social-icons {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
}

@media (max-width: 1100px) {
  header .wrapper {
    display: block;
  }

  footer .wrapper {
    display: block;
  }
}


